body {
    color: #13315C;
    background-color: #8DA9C4;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #EEF4ED;
    text-align: center;
    background-color: #0B2545;
    text-decoration: underline;
    text-shadow: 10px 10px 200px #EEF4ED;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #EEF4ED;
    background-color: #0B2545;
    text-align: center;
    font-size: 30px;
}

div {
    padding: 5px 10px 10px 20px;
}

a {
    background-color: #0B2545;
    color: #EEF4ED;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #8DA9C4;
    padding: 25px;
}

.sidebar li {
    margin-bottom: 20px;
}

.content {
    flex: 1;
    padding: 50px;
}

.nav-buttons {
    display: inline-block;
    background-color: #0B2545;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: #EEF4ED;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.nav-buttons:hover {
    background-color: #007bff;
    color: #EEF4ED;
    text-decoration: none;
}

/* Center and design the navigation bar */
.section-nav {
    display: flex;
    justify-content: center;
    background-color: #EEF4ED;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
}

.section-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.section-nav li {
    display: inline;
}

.section-nav a {
    text-decoration: none;
    color: #EEF4ED;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.section-nav a:hover {
    background-color: #007bff;
    color: #EEF4ED;
}

.btn {
    background-color: #0B2545;
    color: #EEF4ED;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

p {
    background-color: #EEF4ED;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}
